.richTextContainer{
    
}

.richTextContainer h2{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.richTextContainer h3{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: bold;
}

.richTextContainer h4{
    color: var(--primary-color);
    font-size: 1.3rem;

}

.richTextContainer h5{
    color: var(--primary-color);
    font-size: 1.2rem;

}

.richTextContainer h6{
    color: var(--primary-color);
    font-size: 1.1rem;

}

.richTextContainer p{
    text-align: justify;
    text-justify: inter-word;
}

.richTextContainer img{
    max-width: 95%;
    object-fit: cover;
}

@media only screen and (max-width: 700px) {
    .richTextContainer p {
        text-align: left;
    }
    .richTextContainer img{
        max-width: unset;
        width: 100%;
    }

    .richTextContainer h2{
        font-size: 1.14rem;
        font-weight: 600;
    }
    .richTextContainer h3{
        font-size: 1.11rem;
        font-weight: 600;
    }
    .richTextContainer h4{
        font-size: 1.08rem;
        font-weight: 600;
    }
    .richTextContainer h5{
        font-size: 1.05rem;
        font-weight: 600;
    }
    .richTextContainer h6{
        font-size: 1.02rem;
        font-weight: 600;
    }
}