.loaderContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: var(--primary-color) transparent var(--secondary-color) transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}
.dots{
    width: 1rem;
    display: inline-block;
    text-align: left;
}

.hidden{
    visibility: hidden;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
